/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.5;
}
body {
    background-color: #f28095;
    margin: 0;
}
header footer {
    width: 1000px;
    text-align: center;
}
header {
    height: 150px;
    background: #141a1a url("bowl.jpg") no-repeat center right;
    color: white;
}
h1 {
    margin: 0;
    padding-top: 50px;
    padding-left: 32px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
}
#grid-container {
    width: 1000px;
    text-align: center;
    background-color: #fdfdfd;
    display: grid;
    grid-template-columns: 184px 1fr;
    gap: 0 16px;
}
nav {
    width: 150px;
    margin-top: 16px;
}
nav li {
    list-style-type: none;
    text-align: center;
}
nav a {
    display: block;
    padding: 16px;
    margin: 8px auto;
    background-color: #e0e5de;
    color: #141a1a;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    background-color: #f28095;
}
main {
    color: #542c1b;
    padding-bottom: 16px;
}
main p > ul {
    display: block;
    width: 50%;
}
main img {
    float: left;
}
main p {
    margin-left: 32px;
}
main ul {
    margin-left: 16px;
}
address {
    clear: both;
    padding-top: 16px;
}
footer {
    font-style: italic;
    text-align: center;
    background-color: #afaeb4;
    padding: 8px 0px 8px 0px;
}